{% extends 'template.html' %}
{% block contenido %}
<div id="addFrm" class="reveal-modal medium" data-reveal>    
    <div id="campos_frm"></div>
</div>

<div class="">
		<div class="large-6 columns">
          		<input type="text"  id="FilterTextBox" name="FilterTextBox"  placeholder="Buscar Art&iacute;culo">
		</div>
		<div class="large-6 columns text-right show-for-medium-up">		  
			{% if request.session.tipousuario == "adm" or request.session.tipousuario == "cjr" %}
			<button class="tiny" onclick="getFrm(0);">Nuevo Art&iacute;culo</button>		
			{% endif %}		
		</div>
</div>
<div class="large-12 columns">	
<table id="tabla" class="large-12 tablesorter">
  <thead>
    <tr>
      <th width="140" class="show-for-medium-up">C&oacute;digo</th>
      <th width="60%">Descripci&oacute;n</th>         
      <th width="100">Cantidad</th>
      <th width="100">Precio</th>
      <!-- <th ></th> -->
      {% if request.session.tipousuario == "adm" or request.session.tipousuario == "cjr" %}
      <th width="100" class="show-for-medium-up"></th> 
      {% endif %}
      {% if request.session.tipousuario == "adm" %}  
      <th width="100" class="show-for-medium-up"></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
	{% for articulo in articulos %}
	<tr>                                      
        <td class="show-for-medium-up">{{articulo.codigo}}</td>
        <td>       
        {{articulo.descripcion}}        
        </td>       
        <td>{{articulo.cantidadinventario}}</td>
        <td>{{articulo.precioventa|stringformat:"1.2f"|cut:"-"}}</td>
        <!-- <td>
        	<a class="button radius secondary tiny" style="margin:0px;"><i class="fi-wrench"></i> Ajustes</a>
    	</td>  -->   
    	{% if request.session.tipousuario == "adm" or request.session.tipousuario == "cjr" %}
        <td class="text-center show-for-medium-up">
        	<a class="button radius tiny" onclick="getFrm({{articulo.id}});" style="margin:0px;"><i class="fi-pencil"></i> Editar</a>
    	</td>      
    	{% endif %}	
    	{% if request.session.tipousuario == "adm" %}   
        <td class="text-center show-for-medium-up">
        	<a class="button radius alert tiny" onclick="eliminarArticulo('{{articulo.id}}','{{articulo.descripcion}}');" style="margin:0px;"><i class="fi-x"></i> Eliminar</a>
    	</td>       	     	       
    	{% endif %}
	</tr>
	{% endfor %}    
  </tbody>
</table>
</div>	
{% endblock %}
{% block javascript %}
<script src="{{STATIC_URL}}js/modulos/articulos.js"></script>
{% endblock %}