{% load mitemplate %}
{% load humanize %}
<table id="tabla" class="large-12 tablesorter">
  <thead>
    <tr>
      <th width="140">Fecha</th>
      <th width="30%">Tipo de Insumo</th>
      <th width="100">Cantidad</th>
      <th width="100">Unidad</th>
      <th width="100">Cont</th>         
      <th width="100">Costo</th>
      <th width="100">Total</th>
      <th width="30%">Proveedor</th>
      <th width="100"></th>
    </tr>
  </thead>
  <tbody>
	{% for insumo in insumos %}
	<tr>                                      
        <td>{{insumo.fecha|date:"SHORT_DATE_FORMAT"}}</td>
        <td><a href="#" onClick="getFrm({{insumo.id}});">{{insumo.tipoinsumo}}</a></td>
        <td>{{insumo.cantidad}}</td>
        <td>{{insumo.unidadmedida}}</td>
        <td>{{insumo.contenido}}</td>               
        <td>{{insumo.costo|stringformat:"1.2f"|cut:"-"}}</td>
        <td class="monto_insumo">{%multiplica insumo.cantidad insumo.costo%}</td>        
        <td>{{insumo.proveedor}}</td>
        <td class="text-center">
        	<a class="button radius alert tiny" onclick="eliminarInsumo('{{insumo.id}}','{{insumo.tipogasto}}');" style="margin:0px;"><i class="fi-x"></i> Eliminar</a>
    	</td>       	     	       
	</tr>
	{% endfor %}    
  </tbody>
  <tfoot>
	   <tr>
	    	<td colspan="6"></td>
	    	<th id="total_insumos">{{total}}</th>
	   		<td colspan="2"></td>
	   </tr>	  
  </tfoot>  
</table>
<script>
$("#tabla").tablesorter({
    headers: {     
      8: {sorter:false},
      3: {sorter:false},
      4: {sorter:false}
    }
}); 
$("#tabla").filterTable();
</script>