{% extends 'template.html' %}
{% block contenido %}
{% load mitemplate %}
<div id="addFrm" class="reveal-modal medium" data-reveal>    
    <div id="campos_frm"></div>
</div>

<form id="frm_reporte_insumos" action="/insumos_tbl/" method="post" data-abide="ajax" data-abide>
    {% csrf_token %} 
		<div class="large-2 columns">
			<input type="text" id="fechaini" name="fechaini" placeholder="dd/mm/yyyy" />	
		</div>
		<div class="large-2 columns">
			<input type="text" id="fechafin" name="fechafin" placeholder="dd/mm/yyyy" />
		</div>
		<div class="large-4 columns">
          		<!-- <input type="text"  id="FilterTextBox" name="FilterTextBox"  placeholder="Buscar Insumos">  -->
		</div>
		<div class="large-4 columns text-right">
			<input type="submit" class="tiny button" value="Generar Reporte" >
			<button class="tiny" onclick="getFrm(0);">Agregar Insumo</button>			
		</div>
</form>
<div class="large-12 columns" id="tabla_insumos">	
<table id="tabla" class="large-12 tablesorter">
  <thead>
    <tr>
      <th width="140">Fecha</th>
      <th width="41%">Tipo de Insumo</th>
      <th width="100">Cantidad</th>
      <th width="100">Unidad</th>         
      <th width="100">Costo</th>
      <th width="100">Total</th>
      <th width="30%">Proveedor</th>
      <th width="100"></th>
    </tr>
  </thead>
  <tbody>
	{% for insumo in insumos %}
	<tr>                                      
        <td>{{insumo.fecha|date:"SHORT_DATE_FORMAT"}}</td>
        <td><a href="#" onClick="getFrm({{insumo.id}});">{{insumo.tipoinsumo}}</a></td>
        <td>{{insumo.cantidad}}</td>
        <td>{{insumo.unidadmedida}}</td>               
        <td>{{insumo.costo|stringformat:"1.2f"|cut:"-"}}</td>
        <td class="monto_insumo">{%multiplica insumo.cantidad insumo.costo%}</td>        
        <td>{{insumo.proveedor}}</td>
        <td class="text-center">
        	<a class="button radius alert tiny" onclick="eliminarInsumo('{{insumo.id}}','{{insumo.tipogasto}}');" style="margin:0px;"><i class="fi-x"></i> Eliminar</a>
    	</td>       	     	       
	</tr>
	{% endfor %}    
  </tbody>
  <tfoot>
	   <tr>
	    	<td colspan="5"></td>
	    	<th id="total_insumos"></th>
	   		<td colspan="2"></td>
	   </tr>	  
  </tfoot>  
</table>
</div>	
{% endblock %}
{% block javascript %}
<script>
$(document).foundation({
    reveal: {
        animation: 'fadeAndPop'
        }
});

$("#fechaini").datepicker().datepicker("setDate", new Date());
$("#fechafin").datepicker().datepicker("setDate", new Date());

$(".mi-item").removeClass("active");
$("#item-insumos").addClass("active");

$("#tabla").tablesorter({
    headers: {     
      7: {sorter:false}
    }
}); 
$("#tabla").filterTable();

function getFrm(id){
	if (id==0){		    
		$("#campos_frm").load("/insumos_frm/");					  
	}else{
	 	$("#campos_frm").load("/insumos_frm/?id="+id);
	}	 
	$('#addFrm').foundation('reveal', 'open');
}  

$("#frm_reporte_insumos").on('valid',function (){
	var postData = $(this).serializeArray();
	var formURL = $(this).attr("action");
	$.ajax({
	    url : formURL,
	    type: "POST",
	    data : postData,
	    success:function(data, textStatus, jqXHR){
			$("#tabla_insumos").html(data);
			total_insumos();
	    },
	    error: function(jqXHR, textStatus, errorThrown) {
	    	console.log(errorThrown);   
		}
	});
	return false;
}); 
  
function eliminarInsumo(id,desc){
	$.Zebra_Dialog('<strong>Los Platos</strong>, esta seguro de eliminar el insumo: ' + desc, {
		    'type':     'question',
		    'title':    'Pregunta del Sistema',
		    'buttons':  [
		                    {caption: 'Yes', callback: function() { 
		                    	$.get( "/insumos_delete/"+id,function(data){
		                    		var estado=$.trim(data);
		                    		if(data==1){
		                    			window.location.href='/insumos/';
		                    		}
		                    	} );
		                    }},
		                    {caption: 'No'}
		                ]
		});	
}  
  
function total_insumos(){
	var total=0;	
	$(".monto_insumo").each(function (index){		
		var precio=parseFloat($(this).text());
		total=total+precio		
	});
	$("#total_insumos").text("$" + total.toFixed(2));
	
}

total_insumos();
  
</script>
{% endblock %}