{% extends 'template.html' %}
{% block contenido %}

<style>
#wcont1b {
    max-height: 400px;
    height: 400px;
    overflow-y: scroll;
}
i{
	font-size:14px;
}
</style>
<form action="/ventas_save/" id="frm_venta" method="post" >
<div class="large-12 columns" id="div_codigo">
	<input type="text" id="codigo"  placeholder="C&oacute;digo" autofocus autocomplete="off" />
</div>
<div class="large-2 columns hide" id="div_cantidad">
	<input type="text" id="cantidad"  placeholder="Cantidad"  autocomplete="off" value="1" />
</div>
	
{% csrf_token %} 
<div class="large-12 columns">	
		<div class="panel" id="wcont1b"></div>	
</div>

<div class="large-12 columns">
	<div class="panel">
	<div class="text-right">
		<h3 id="total">$0.00</h3>
	</div>	
	</div>
</div>

<div class="large-12 columns text-right">
	<a href="/ventas/" class="button">Nuevo</a>
	<button>Guardar</button>	
</div>
</form>

{% endblock %}
{% block javascript %}
<script>
$(".mi-item").removeClass("active");
$("#item-ventas").addClass("active");

$("#codigo").keypress(function(e) {	
    if(e.which == 13) {
    	if($("#div_cantidad").hasClass('hide')){
        	$("#wcont1b").append($("<div>").load("/buscar_codigo/"+$('#cantidad').val()+"/"+$("#codigo").val()));
    	}else{
    		$('#cantidad').focus();
    	}
        return false;
    }
});

$("#cantidad").keypress(function(e) {	
    if(e.which == 13) {
        $("#wcont1b").append($("<div>").load("/buscar_codigo/"+$('#cantidad').val()+"/"+$("#codigo").val()));
        return false;
    }
});

document.onkeydown = function(evt) {
    evt = evt || window.event;
    if (evt.keyCode == 27) {
    	$("#codigo").val("");
    	$("#codigo").focus();   
    	if($("#div_cantidad").hasClass('hide')){
    		$("#cantidad").val('1');
    	}else{
    		$("#cantidad").val('');
    	}    	
    }
    
    if (event.keyCode == 115) { // F4
    	$("#frm_venta").submit();    
    }    
    
    if (event.keyCode == 113) { // F2
    	if($("#div_cantidad").hasClass('hide')){
    		$('#div_codigo').removeClass('large-12');
    		$('#div_codigo').addClass('large-10');
    		$('#div_cantidad').removeClass('hide');
        	$('#cantidad').val('');
    	}else{
    		$('#div_codigo').removeClass('large-10');
    		$('#div_codigo').addClass('large-12');
    		$('#div_cantidad').addClass('hide');
        	$('#cantidad').val('1');
    	}
    	$('#codigo').val('');
    	$('#div_codigo').focus();    	    
    }       
};

function total(){
	var total=0;
	$("input.subtotal").each(function (index){		
		var precio=parseFloat($(this).val());
		total=total+precio		
	});
	$("#total").text("$" + total.toFixed(2));
	
	$("#codigo").val("");
	$("#codigo").focus();
	if($("#div_cantidad").hasClass('hide')){
		$("#cantidad").val('1');
	}else{
		$("#cantidad").val('');
	}
}

$("#frm_venta").submit(function (){
  	$("#btn_save").attr('disabled','disabled');
	var postData = $(this).serializeArray();
	var formURL = $(this).attr("action");
	$.ajax({
	    url : formURL,
	    type: "POST",
	    data : postData,
	    success:function(data, textStatus, jqXHR){
			window.location.href="/ventas/";
	    },
	    error: function(jqXHR, textStatus, errorThrown) {
	    	console.log(errorThrown);   
		}
	});
	return false;
});  

function removerArticulo(elemento){
	$(elemento).parent().parent().remove();
	total();
}

</script>

{% endblock %}