{% load humanize %}

<table id="tabla" class="large-12 tablesorter">
  <thead>
    <tr>
      <th width="140">Fecha</th>
      <th width="40%">Tipo de Gasto</th>         
      <th width="100">Costo</th>
      <th width="30%">Comentarios</th>
      <th width="100"></th>
    </tr>
  </thead>
  <tbody>
	{% for gasto in gastos %}
	<tr>                                      
        <td>{{gasto.fecha|date:"SHORT_DATE_FORMAT"}}</td>
        <td><a href="#" onClick="getFrm({{gasto.id}});">{{gasto.tipogasto}}</a></td>               
        <td>{{gasto.costo|stringformat:"1.2f"|cut:"-"}}</td>
        <td>{{gasto.comentarios}}</td>  
        <td class="text-center">
        	<a class="button radius alert tiny" style="margin:0px;"><i class="fi-x"></i> Eliminar</a>
    	</td>       	     	       
	</tr>
	{% endfor %}    
  </tbody>
  <tfoot>
	   <tr>
	    	<td colspan="2"></td>
	    	<th>{{total}}</th>
	   		<td colspan="2"></td>
	   </tr>	  
  </tfoot>  
</table>
<script>
$("#tabla").tablesorter({
    headers: {     
      3: {sorter:false},	
      4: {sorter:false}
    }
}); 
$("#tabla").filterTable();
</script>