{% load humanize %}

<div class="text-center">
<h4>Reporte de {{tiporeporte}}</h4> 
<h6>del {{fechaini}} al {{fechafin}}</h6>
</div>
<table class="large-12">
	  <thead>
	    <tr>
	      <th class="large-1 show-for-medium-up">C&oacute;digo</th>
	      <th class="large-5 small-8">Art&iacute;culo</th>
	      <th class="large-1 show-for-medium-up">Precio Costo</th>
	      <th class="large-1 show-for-medium-up">Precio Venta</th>
	      <th class="large-1">Total</th>
	      {% if tiporeporte == "Ventas" %}
	      <th class="large-1">Venta</th>
	      {% endif %}    
	      <th class="large-1">Costo</th>
	      {% if tiporeporte == "Ventas" %}
	      <th class="large-1 show-for-medium-up">Ganacia</th>	  
	      {% endif %}    
	    </tr>
	  </thead>
	  <tbody>
		{% for venta in ventas %}				
	    <tr>      	    
	      <td class="show-for-medium-up">
	      	{{venta.codigo}}
	      </td>
	      <td>
	      	{{venta.descripcion}}	
	      </td>
	      <td class="show-for-medium-up">
	      	{{venta.preciocosto}}
	      </td>
	      <td class="show-for-medium-up">
	      	{{venta.precioventa}}
	      </td>		      
	      <td>
	      	{{venta.total}} 
	      </td>
	      {% if tiporeporte == "Ventas" %}
	      <td>
	      	{{venta.monto|floatformat:2|intcomma }} 
	      </td>
	      {% endif %}    
	      <td>
	      	{{venta.costo|floatformat:2|intcomma }} 
	      </td>	 
	      {% if tiporeporte == "Ventas" %}     	      	 
	      <td class="show-for-medium-up">
	      	{{venta.diferencia|floatformat:2|intcomma }} 
	      </td>	 
	      {% endif %}      	      	 	      	      	      	      	      
	    </tr>
	    {% endfor%}
	    	   
	    	    
	  </tbody>	  
	  <tfoot>
	    <tr>
	    	<td class="show-for-medium-up"></td>
	    	<td class="show-for-medium-up"></td>
	    	<td class="show-for-medium-up"></td>
	    	<td></td>
	    	<th>{{cantidad}}</th>
	    	{% if tiporeporte == "Ventas" %}
	    	<th>{{monto|floatformat:2|intcomma}}</th>
	    	{% endif %}    
	    	<th>{{costo|floatformat:2|intcomma}}</th>
	    	{% if tiporeporte == "Ventas" %}
	    	<th class="show-for-medium-up">{{ganancia|floatformat:2|intcomma}}</th>
	    	{% endif %} 
	    </tr>
	    </tfoot>	  
</table>